.editor-content {
  width: 100% !important;
  border: none !important;
  padding: 12px 10% 0 10% !important;
  overflow-y: scroll;
  max-height: calc(100vh - 200px);
}

.neeto-editor-fixed-menu {
  border: none !important;
}

.editor-title {
  margin: 12px 10% 0 10% !important;

  .neeto-ui-input {
    textarea {
      font-size: var(--neeto-ui-text-3xl);
      font-weight: var(--neeto-ui-font-semibold);
      resize: none;
    }
  }
}

.neeto-editor-error {
  border: none !important;
}

.neeto-editor-fixed-menu__wrapper {
  background-color: rgb(var(--neeto-ui-gray-300));
}
